@model StudentManagementSystem.Models.registration

@{
    ViewBag.Title = "Registration Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="card shadow p-4">
        <h2 class="text-center text-primary mb-4">Registration Details</h2>

        <div>
            <h4 class="text-primary">Registration Information</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.firstname)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.firstname)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.lastname)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.lastname)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.nic)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.nic)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.telno)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.telno)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.batch.batch1)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.batch.batch1)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.course.course1)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.course.course1)
                </dd>
            </dl>

            <div class="mt-3 text-center">
                @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-secondary" }) |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-link" })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
